In [16]:
import pandas as pd

df_despesa = pd.read_excel("Despesas.xlsx")

In [17]:
df_despesa['data'] = pd.to_datetime(df_despesa['data'], unit='ms').dt.strftime('%d-%m-%Y')
print(df_despesa['data'].head(10))

0    18-08-2024
1    15-09-2024
2    22-08-2024
3    02-09-2024
4    02-02-2025
5    08-01-2025
6    07-08-2024
7    10-08-2024
8    19-06-2024
9    29-01-2025
Name: data, dtype: object

In [18]:
df_despesa['valor'] = df_despesa['valor'].astype(float)
print(df_despesa['valor'])

0      11670.10
1      17394.82
2      19787.46
3       2159.77
4       7390.20
         ...
195    15225.10
196    16460.68
197    12795.28
198     9634.17
199    13022.00
Name: valor, Length: 200, dtype: float64

In [19]:
df_despesa['valor'].fillna(df_despesa['valor'].mean(), inplace=True)
df_despesa['valor'] = df_despesa['valor'].round(2)
print(df_despesa['valor'].head(20))

0     11670.10
1     17394.82
2     19787.46
3      2159.77
4      7390.20
5      5786.35
6     12713.59
7     11286.99
8       398.20
9     10511.56
10    14855.00
11    14020.35
12    15504.96
13    10878.01
14     6450.78
15    12751.82
16      585.82
17    15605.07
18    11327.78
19     6849.85
Name: valor, dtype: float64

C:\Users\48260449846\AppData\Local\Temp\ipykernel_13340\375291509.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_despesa['valor'].fillna(df_despesa['valor'].mean(), inplace=True)

In [20]:
df_despesa['fornecedor'] = df_despesa['fornecedor'].str.title()
df_despesa['fornecedor'].fillna(df_despesa['fornecedor'].mode()[0], inplace=True)
print(df_despesa['fornecedor'].head(20))

0                 Teixeira
1                    Nunes
2                Moura S/A
3                   Barros
4              Mendes - Ei
5     Da Rocha Vargas - Ei
6                  Sá - Ei
7                    Jesus
8                Rodrigues
9                   Cirino
10               Rodrigues
11                    Dias
12                      Sá
13                Cassiano
14     Andrade Vieira S.A.
15                Nogueira
16                Nogueira
17              Viana - Me
18                 Cardoso
19                  Novaes
Name: fornecedor, dtype: object

C:\Users\48260449846\AppData\Local\Temp\ipykernel_13340\2198179348.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_despesa['fornecedor'].fillna(df_despesa['fornecedor'].mode()[0], inplace=True)

In [21]:
df_despesa.to_excel("Despesas_Tratadas.xlsx", index=False)